h2(data-hyper-bind="question.title")

form(data-hyper-form="question.answer", data-hyper-handle="next")
  div(data-ng-repeat="input in inputs")
   div(data-ng-switch="input.type")
     div(data-ng-switch-when="code", data-codearea="input", style="width: 500px; height: 400px")
  input(type="submit", value="Next")